<div class="profile-image">
  <img class="large-avatar" {{bind-attr src=avatar_url}}></img>
</div>
<div class="sub-header profile-header"> 
  <h2 class="profile-screen-name"> {{screen_name}} </h2>
  <h4 class="profile-screen-name"> ({{first_name}} {{last_name}}) </h4>
</div>
{{outlet}}
