
<div class="sub-header profile-header"> 
  <div class="row">
   <div class="col-md-3">
    <div class="profile-image">
      <img class="large-avatar" {{bind-attr src=avatar_url}}></img>
    </div>
    <h2 class="profile-screen-name"> {{screen_name}} </h2>
    <h4 class="profile-screen-name"> ({{first_name}} {{last_name}}) </h4>
   </div>
   <div class="col-md-8">

    {{#each player in players}}

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{#link-to 'game' 1 }} Game: {{player.game.name}} {{/link-to}}
        </h3>
      </div>
      <div class="panel-body">
        {{player.game.isRunning}}
        <h1>
          {{#if player.human_code}}
            <span class="label label-success">Human Code: {{player.human_code}}</span>
          {{/if}}
          <span class="label label-warning">Status: {{player.status}}</span>
        </h1>
      </div>
    </div>
    {{/each}}
   </div>
  </div>
</div>
<div class="alert alert-warning"> 
  <h4> Want to add a photo? Go to <a href="http://en.gravatar.com/">http://en.gravatar.com/</a> and setup a Gravatar with the email: {{email}} </h4>
</div>
{{outlet}}
